/* My Styles */
.main-section section {
    padding: $column-gutter;
}
.icon {
    padding: $column-gutter;
    text-align: center;
}

.center {
    text-align: center;
}

.tab-bar-section .content {
    color: $body-font-color;
}
.site-name {
    font-family: 'Special Elite', cursive;
    margin: 0;
    padding: 0;
    margin-top: $column-gutter;
    line-height: 1.2rem;
    text-align:right;
}
.tag-line {
    font-family: 'Neucha', cursive;
    text-align: right;
}

#public-works {
    h1, h2 {
        font-family: 'Special Elite', cursive;
    }
}